<h1> Lenguaje de Programacion III - 2024) | UC3 </h1>
<hr/>
<h4>Menu:</h4>
<ul>
    <li>
        <a href="/inicio"> Inicio</a>
    </li>
    <li>
        <a href="/primos"> Numeros Primos</a>
    </li>
    <li>
        <a href="/examen"> Examen</a>
    </li>
    </ul>
<hr/>

<h1>Examen</h1>
<h3> GitHub Del Proyecto:</h1>
    <ul>
        <li>Estudiante 01: Torres Guzmán Henry Fabian
            <br>
            GitHub: <a href="https://github.com/2123010122/UC3_Parte01_TORRES.git">https://github.com/2123010122/UC3_Parte01_TORRES.git</a>
        </li>
         
        <li>Estudiante 02: José Moisés Villanueva Parrera
            <br>
            GitHub: <a href="https://github.com/2123010122/UC3_Parte01_TORRES.git">https://github.com/JoseVillanuevaP1/UC3_Parte02_VILLANUEVA.git</a>
        </li>

        <li>Estudiante 03: Peña Chirinos Carlos Joel
            <br>
            GitHub: <a href="https://github.com/2123010122/UC3_Parte01_TORRES.git">https://github.com/UntelsCar/UC3-Parte03.git</a>
        </li>

        <li>Estudiante 04: Bravo Veintemilla Jorge Alberto
            <br>
            GitHub: <a href="https://github.com/2123010122/UC3_Parte01_TORRES.git">https://github.com/JotaBV02/UC3_Parte04_BRAVO.git</a>
        </li>
       
    </ul>