<h1> Lenguaje de Programacion III - 2024) | UC3 </h1>
<hr/>
<h4>Menu:</h4>
<ul>
    <li>
        <a href="/inicio"> Inicio</a>
        </li>
        <li><a href="/primos">Numeros primos</a></li>
        <li>
            <a href="/examen"> Examen</a>
        </li>
    </ul>
<hr/>

<h1>Inicio</h1>
<h3> Curso: Lenguaje de Programacion III - 2024 </h1>
<h3> Integrantes: </h1>
<ul>
    <li>Bravo Veintemilla Jorge Alberto</li>
    <li>Peña Chirinos Carlos Joel</li>
    <li>Torres Guzmán Henry Fabian</li>
    <li>José Moisés Villanueva Parrera</li>
</ul>

